<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Attendance_and_Monitoring_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Attendance_and_Monitoring_System.My.MySettings.attendanceConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\attendance.mdb" providerName="System.Data.OleDb"/>
        <add name="Attendance_and_Monitoring_System.My.MySettings.attendanceConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\attendance.accdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Attendance_and_Monitoring_System.My.MySettings>
            <setting name="user" serializeAs="String">
                <value/>
            </setting>
            <setting name="password" serializeAs="String">
                <value/>
            </setting>
            <setting name="rememberme" serializeAs="String">
                <value>False</value>
            </setting>
        </Attendance_and_Monitoring_System.My.MySettings>
    </userSettings>
</configuration>
